{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Welcome to Devon Decks & Dice, where good times roll, cards fly, and drinks flow. Get cozy with friends, grab your favorite game, and dive into an atmosphere buzzing with laid-back vibes and endless fun. Whether you're a seasoned gamer or just looking for a chill hangout, join us for a relaxed mix of board games, great company, and tasty drinks that'll keep the good times rolling.">
    <meta name="keywords"
        content="board games, card games, dice games, social gaming, casual hangout, fun atmosphere, cocktails, craft drinks, refreshments, laid-back vibes, cozy ambiance, quality time, friends and family, game nights, entertaining experience">
    <meta name="author" content="Tom Cowen">
    <title>Devon Decks & Dice</title>
    <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'images/ddndlogo.jpg' %}" class="d-inline-block align-top logo" alt="Logo">
                    </a>
                    <h2>Devon Decks n' Dice</h2>
                </div>
                <div class="justify-content-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'bookings' %}">Book a Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'events' %}">Events</a>
                            </li>
                            {% if request.user.is_superuser %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Games Library</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'library' %}">Library</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'game_search' %}">Add to Games Library</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'library' %}">Games Library</a>
                            </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {% if user.is_authenticated %}
                                    {{ user.username|upper }}
                                    {% else %}
                                    Account
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}"
                                            aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}"
                                            aria-current="page" href="{% url 'account_signup' %}">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                                            aria-current="page" href="{% url 'account_login' %}">Login</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="message-container container-fluid">
        <div class="row message-row">
            <div class="col-12">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block h1 %}
    {% endblock %}


    {% block content %}
    {% endblock %}

    <footer class="text-center py-3">
        <div class="container-fluid bg-color-footer">
            <div class="row align-items-center">
                <div class="col-sm-4 text-start footer-copyright d-none d-sm-inline-block">
                    <div>© 2024 Tom Cow</div>
                </div>
                <div class="col-sm-8">
                    <div id="footer-icons" class="text-center text-sm-end">
                        <a href="https://en-gb.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)"><i
                                class="footer-item fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com/" target="_blank" rel="noopener"
                            aria-label="Visit our X page (opens in a new tab)"><i
                                class="footer-item fa-brands fa-x-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)"><i
                                class="footer-item fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/3c09670cc8.js" crossorigin="anonymous"></script>

    {% block extras %}
    {% endblock %}
</body>

</html>